html {
  min-height: 100%;
  font-family: 'Open Sans';font-size: 22px;
}

body {
  background: url("MusicaX3/assets/Depression.JPG");
  background-size: 100% 100%;
}



.container {
  display: inline-block;
  background: rgba(255,255,255,0.2);
  padding: 2em;
  margin: 20px;
  border-radius: 25px;
  backdrop-filter: blur(10px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px 10px rgba(46, 54, 68, 0.05);
  color: white;
  
}


img {
  width: 250px;
  height: auto;
}

.albums {

  padding: 30px;

}

.playlist {
  color: white;
  background: rgba(2533,255,255,0.2);
  box-shadow: 10px 10px 10px 10px rgba(46, 54, 68, 0.05);
  border: solid 2px transparent;
  border-radius: 25px;
  backdrop-filter: blur(10px);
  padding: 1rem;
  margin: auto;
  font-size: 10px;
}

#test {
  margin: auto;
  height: 600px;
  overflow: auto;
  scrollbar-color: rebeccapurple green;
  width: 500px;
}

::-webkit-scrollbar {
  width: 10px;
  visibility: none;
}

 h1 {
  color: white;
  text-align: center;
 }

 audio {
  height: 20px;
 }
